body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    min-width: 169px;
    height: 56px;
    margin-top: 356;
    margin-bottom: 188;
    border: none;
    border-radius: 4px;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 188px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    width: 1158px;
}

.header-navigation {
    color: #2e2f42;
    background: #fff;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-color {
    color: #2e2f42;
}


.header-navigation-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-navigation-link {
    position: relative;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    color: #404BBF;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:hover {
    color: #404bbf;
}

.header-navigation-link:focus {
    color: #404bbf;
}

.header-navigation-link:active {
    color: #404bbf;
    text-decoration: underline;
}

.header-navigation-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:hover::after {
    width: 100%;
}

.contact-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 25px;
}

.contact-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-item {
    margin-right: 0;
}

.contact-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.contact-link:active {
    color: #404bbf;
    text-decoration: underline;
}

.main-content {}

/* 1 section */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hw-4-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.order-button {
    background: #4d5ae5;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

/* 2 section */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.icondiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    background: #f4f4fd;
}

.features-icon {
    
}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.feature-item:last-child {
    margin-right: 0;
}

/* 3 section */

.team {
    padding: 120px 0;
    background-color: #f8f9fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.team-member {
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 24px 0;
    flex-basis: calc((100% - 72px) / 4);
    text-align: center;
    list-style: none;
    transition: transform 0.3s;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member:first-child {
    border-radius: 0px 0px 4px 4px;
}

.team-member-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.team-info {
    padding: 32px 0; 
}

.team-member-name {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;
}

.team-member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #6c757d;
    text-align: center;
}

.team-icons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.team-icon {
    fill: #f4f4fd;
    width: 16px;
    height: 16px;
}

.team-icon:hover {
    fill: #f4f4fd;
}

.team-member:last-child {
    margin-right: 0;
}



.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary, #4d5ae5);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* 4 section */

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-container {
    position: relative;
    overflow: hidden;
    min-width: 3rem;
}

.partfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-image {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #888;
}

.portfolio-item-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color, #f4f4fd);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-text {
    transform: translateY(0%);
}

/* footer */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.logo-and-paragraph {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-bottom: 16px;
}

.social-container {
    display: flex;
    flex-direction: column;
}

.social_media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}


.subscribe-container {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.subscribe-input {
    padding-left: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    justify-content: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
}

.subscribe-icon {
    margin-left: 16px;
}